extends layout

block content
  h1= title
  p Welcome to #{title}

  p This site provides an API to support the Depictr app.
  p Depictr takes lyrics or prose as input and finds appropriate photos from Flickr to match them.
   